/* h1{
    color: rgb(246, 0, 0);
    background-color: blue;
}
p{
    color: rgb(251, 247, 6);
    background-color: blue;
}
button{
    color: rgb(14, 221, 49);
    background-color: blue;
    background: none;
} */



/* h1{
    color: rgb(201, 26, 26);
    background-color: rgb(2, 0, 0);
    text-align: center;
    text-decoration: underline;
    font-size: 100px;
    font-family: Arial;
}
button{
    color: white;
    background-color: blue;  
}
p{  
    color: rgb(15, 15, 15);
    background-color: rgb(246, 243, 243);
    text-decoration: wavy;
    line-height: normal;
    letter-spacing: normal;
    font-size: normal;
    font-family: Arial;
    
}
a{
    text-decoration: none;
} */


h1{
    font-family: league seartan;
    color: #ffa511;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration:  double underline;
    text-transform: uppercase;


}