#container{
    height: 500px;
    width: 80%;
    margin: 10px auto;
    background-color: pink;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
 */
    flex-wrap:nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
    align-content: baseline; 
    
}
h1{ text-align: center;
    background-color: orange;
}

#container div{
    height: 100px;
    width: 200px;
    color: white;
    text-align: center;
    padding: 10px;
}


#container2{
    height: 300px;
    width: 80%;
    margin: 10px auto;
    background-color: pink;
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
    align-content: baseline;


}
#container2 div{
    height: 20px;
    width: 100px;
    color: white;
    text-align: center;
}

#milins{
    align-self: flex-end;
    align-self: center;
    /* flex-basis: 10PX; */
    flex-grow:10;
    max-width: 400PX;
}